In [1]:
import pandas as pd
import numpy as np

In [2]:
from shop_constants import _pageconstants

In [3]:
from playshop import PlayShop

In [4]:
from shopplayer import Player

In [5]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

In [6]:
from sklearn.naive_bayes import MultinomialNB, GaussianNB

In [7]:
credentials = (9061943002 ,'godforme')

In [14]:
nadal = PlayShop('nadalweb.in')

In [15]:
nadal.make_page_constants(*_pageconstants)

In [17]:
nadal.visit(credentials, sleeptime= 2)

Fetching nadalweb.in ...
Fetch completed...
Logging in ...
You are logged in !
Navigating to scoreboard...
Arrived at scoreboard of parity server !

In [23]:
df = nadal.get_gamedf_v2(200, entry_time= nadal.now())

Fetching from server : parity ! (Time now : 01:48s)
Entering at shop time 1:45...
Started fetching 20 pages .. at 01:45s
Fetch completed ... !
Data collected has nice quality !
Processing data ...

**************************************************
Datapoints arrangement : Past to Future ...
**************************************************

Data parsed successfully ...! Time elapsed :  56.90 s

In [12]:
df.head(3)

,timestamp,price,number,color,colorseries,num_plus_color,num_times_color
0,20201003223,25456,6,red,2,8,12
1,20201003224,25479,9,green,0,9,0
2,20201003225,25433,3,green,0,3,0

In [11]:
df.color.value_counts()

red               12
green             12
green + violet     3
red + violet       2
Name: color, dtype: int64

In [24]:
pl = Player(10, nadal)

In [25]:
def lstm(n_steps , n_features, n_lstm_units = 150):
    n_lstm_units = tf.constant(n_lstm_units)
    n_steps = tf.constant(n_steps)
    n_features = tf.constant(n_features)
    output_tensor = tf.constant(1)
    
    tf.compat.v1.reset_default_graph()
    seqmodel = Sequential()
    seqmodel.add(LSTM(n_lstm_units, activation='relu', input_shape=(n_steps, n_features)))
    seqmodel.add(Dense(output_tensor))
    seqmodel.compile(optimizer='rmsprop', loss='mse')
    return seqmodel

In [26]:
seqmodel = lstm(10, 1)

In [45]:
# mnb = MultinomialNB()
gnb = GaussianNB()

In [47]:
clsfmodel = gnb

In [48]:
pl.educate(seqmodel, clsfmodel, n_epochs = 500)

In [49]:
pl.reset_models()
pl.learn(df.colorseries, 4)

Generated Xtensor and ytensor !
Tensors initialized !

----------------------------------------------------------------------
History saved for nadalweb.in
----------------------------------------------------------------------

Final Train Loss :      0.092

Final  Val Loss :      2.559


Sequence modeling complete ...!


Sequence model predictions saved in seqpreds_df...!


Classifier test fit performance on training set (CV = 4) :

----------------------------------------------------------------------
Mean Train Acc on : 0.804

Mean Test Acc on : 0.756
----------------------------------------------------------------------

Classifier model is fit on whole data ... !

----------------------------------------------------------------------
Prediction saved in finalpreds_df...!
----------------------------------------------------------------------

Final classifier accuracy is :     79.894 %

Prediction model is ready... (seqmodel + classifier) !

In [59]:
pl.predict_next(make_log= False, play_reverse= False, fetch_till= 5)

You are on server : parity !
Fetching from server : parity ! (Time now : 00:39s)
Entering at shop time 0:36...
Started fetching 2 pages .. at 00:36s
Fetch completed ... !
Data collected has nice quality !
Processing data ...

**************************************************
Datapoints arrangement : Past to Future ...
**************************************************

Data parsed successfully ...! Time elapsed :  8.41 s

**********************************************************************

By watching 10 games, I think the next color is RED ...!

**********************************************************************

In [60]:
nadal.now()

'02:20'

In [55]:
pl.latestdf.tail(1)

,timestamp,price,number,color,colorseries,num_plus_color,num_times_color
18,20201010466,25425,5,green + violet,1,6,5

In [35]:
df.timestamp == '2020'

,timestamp,price,number,color,colorseries,num_plus_color,num_times_color
189,20201010452,25487,7,green,0,7,0
190,20201010453,25481,1,green,0,1,0
191,20201010454,25493,3,green,0,3,0
192,20201010455,25476,6,red,2,8,12
193,20201010456,25443,3,green,0,3,0
194,20201010457,25410,0,red + violet,3,3,0
195,20201010458,25488,8,red,2,10,16
196,20201010459,25407,7,green,0,7,0
197,20201010460,25418,8,red,2,10,16
198,20201010461,25465,5,green + violet,1,6,5

In [23]:
paritydf = pd.read_csv('parity_clean_248.csv')
paritydf.head(3)

,timestamp,price,number,color,colorseries,num_plus_color,num_times_color
0,20201001222,25455,5,green + violet,1,6,5
1,20201001223,25473,3,green,0,3,0
2,20201001224,25476,6,red,2,8,12

In [33]:
pl.educate(seqmodel, clsfmodel, n_epochs = 200)

In [34]:
pl.reset_models()
pl.learn(paritydf.colorseries, 4, yhat_choice= 'bankers')

Generated Xtensor and ytensor !
Tensors initialized !

----------------------------------------------------------------------
History saved for nadalweb.in
----------------------------------------------------------------------

Final Train Loss :      0.939

Final  Val Loss :      1.707


Sequence modeling complete ...!


Sequence model predictions saved in seqpreds_df...!


Classifier test fit performance on training set (CV = 4) :

----------------------------------------------------------------------
Mean Train Acc on : 0.434

Mean Test Acc on : 0.418
----------------------------------------------------------------------

Classifier model is fit on whole data ... !

----------------------------------------------------------------------
Prediction saved in finalpreds_df...!
----------------------------------------------------------------------

Final classifier accuracy is :     43.033 %

Prediction model is ready... (seqmodel + classifier) !

In [35]:
nadal.select_server(3)

Switched to server : bcone

In [38]:
pl.predict_next(make_log= False, play_reverse= True, fetch_from= '2:50')

You are on server : bcone !
Fetching from server : bcone ! (Time now : 01:25s)
Entering at shop time 1:22...
Started fetching 2 pages .. at 01:22s
Fetch completed ... !
Data collected has nice quality !
Processing data ...

**************************************************
Datapoints arrangement : Past to Future ...
**************************************************

Data parsed successfully ...! Time elapsed :  8.75 s

**********************************************************************

By watching 4 games, I think the next color is GREEN ...!

**********************************************************************